.move-up {
    position: relative;
    top: -60px;
    z-index: 2;
}
.md-grid-list {
    margin: 8px;
}
.green {
    background: #b9f6ca;
}
.gray {
    background: #f5f5f5;
}
.amount {
    margin: 0px !important;
    color: #3f51b5;
}