<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

       <script src="https://code.highcharts.com/highcharts.js"></script>


      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script src="js/script.js"></script>     
   </head>
    <body ng-app="solarcal" layout="column" ng-controller="MainCtrl">
      <md-toolbar flex="33">
        <div class="md-toolbar-tools">
          <h3>
            <span>Solar Cost Benifit Calculator</span>
          </h3>
        </div>
      </md-toolbar>
      <div layout-align="center start" layout="row">
        <md-content class="md-whiteframe-z2 move-up" flex="{{inputboxsize}}" ng-show="showInput"> 
          <div id="inputContainer" class="inputDemo"  ng-cloak>
           <md-content layout-padding>
              <form name="inputForm" ng-submit="calculate()">
                  <div layout="column" layout-align="center center">
                    <md-select required placeholder="Choose your city" ng-change = "{{showOutput ? calculate(): showOutput=false}}" ng-model="input.city" style="min-width: 200px;">
                      <md-option ng-value="city"  ng-repeat="city in cities">{{city.Name}}</md-option>
                    </md-select>
                  </div>
                 <md-input-container class="md-block">
                    <label>Roof Size (sq. ft)</label>
                    <input required type="number" name="roofSize" ng-change="calMax()" ng-model="input.roofSize">
                    <div ng-messages="inputForm.roofSize.$error">
                       <div ng-message="required">This is required.</div>
                    </div>
                 </md-input-container>
                 <md-input-container class="md-block">
                    <label> Electricity consumption per month (units)</label>
                    <input required type="number" name="units" ng-change="calMax()" ng-model="input.units">
                    <div ng-messages="inputForm.units.$error">
                       <div ng-message="required">This is required.</div>
                    </div>
                 </md-input-container>
                 <md-button class="md-raised md-primary" type="submit" ng-show="calbtn"  ng-disabled="inputForm.$invalid">Calculate</md-button>
                 </form>
                 <form name="loanForm" ng-if="showLoanForm">
                <div layout ng-if="showloanamount">
                  <div flex="30" layout layout-align="start center">
                    <span class="md-body-1">Loan Tenure (years)</span>
                  </div>
                  <md-slider flex="70" class="md-primary" md-discrete ng-model="input.tenure" ng-change="calEMI()" step="1" min="5" max="7" aria-label="Years">
                  </md-slider>
                </div>
              
                <md-slider-container ng-show="showloanamount">
                  <span class="md-body-1">Loan Amount - Rs. {{input.loan}} </span>
                  <md-slider flex ng-model="input.loan"  min="0" max="{{output.sysCost*0.85}}" ng-change="calEMI()" aria-label="blue" id="blue-slider" class="md-primary">
                  </md-slider>
                </md-slider-container>
                
              </form>
           </md-content>
        </div>
      </md-content>
      <md-content class="md-whiteframe-z2 move-up"  flex="{{outputboxsize}}" ng-show="showOutput">
        <div layout-padding layout="row">
        <md-content  layout="column" layout-margin class="md-whiteframe-z2" flex="50" layout-align="center center">
          <p>Monthly EMI</p>
          <h2 class="amount"><span > Rs. </span><span>{{output.EMI}}</span></h2>
        </md-content>
        <md-content  layout="column" layout-margin class="md-whiteframe-z2" flex="50" layout-align="center center">
          <p>Monthly saving on electricity bill</p>
          <h2  class="amount"><span> Rs. </span><span>{{output.saving}}</span></h2>
        </md-content>
           
        </div>
         <div layout-padding layout="row">
        <md-content  layout="column" layout-margin class="md-whiteframe-z2" flex="33" layout-align="center center">
          <p>Solar System Size</p>
          <h2 class="amount"><span>{{output.sysSize}}</span><span> kW</span></h2>
        </md-content>
        <md-content  layout="column" layout-margin class="md-whiteframe-z2" flex="33" layout-align="center center">
          <p>Solar System Cost</p>
          <h2  class="amount"><span> Rs. </span><span>{{output.sysCost}}</span></h2>
        </md-content>
        <md-content  layout="column" layout-margin class="md-whiteframe-z2" flex="33" layout-align="center center">
          <p>Solar units per month</p>

          <h2 class="amount"><span>{{output.solarUnits}}</span><span> units</span></h2>
        </md-content>
           
        </div>
        <div layout-padding layout="row">
          <md-content  layout="column" class="md-whiteframe-z2" flex="100" layout-align="center center">
            <div id="container"</div>
          </md-content>
          
        </div>
       
        

      </md-content>
    </div>
   </body>
</html>